In [ ]:
# %pip install requests

import psycopg2
import pandas as pd
import plotly.express as px
# %pip install nbformat --upgrade
import requests

In [ ]:
# dataframe creation

#sql connection
mydb = psycopg2.connect(host= "localhost",
                        user= "postgres",
                        port= "5432",
                        database = "phonepe_data",
                        password = "Planck00725"
                        )
cursor = mydb.cursor()

#aggre_insurance_df
cursor.execute("SELECT * FROM aggregated_insurance")
mydb.commit()
table1 = cursor.fetchall()

Aggre_insurance = pd.DataFrame(table1,columns=("States","Years","Quarter","Transaction_type",
                                               "Transaction_count","Transaction_amount"))

#aggre_transaction_df
cursor.execute("SELECT * FROM aggregated_transaction")
mydb.commit()
table2 = cursor.fetchall()

Aggre_transaction = pd.DataFrame(table2,columns=("States","Years","Quarter","Transaction_type",
                                               "Transaction_count","Transaction_amount"))

#aggre_user_df
cursor.execute("SELECT * FROM aggregated_user")
mydb.commit()
table3 = cursor.fetchall()

Aggre_user = pd.DataFrame(table3,columns=("States","Years","Quarter","Brands",
                                               "Transaction_count","Percentage"))

#map_insurance_df
cursor.execute("SELECT * FROM map_insurance")
mydb.commit()
table4 = cursor.fetchall()

map_insurance = pd.DataFrame(table4,columns=("States","Years","Quarter","District",
                                               "Transaction_count","Transaction_amount"))

#map_transactiion_df
cursor.execute("SELECT * FROM map_transaction")
mydb.commit()
table5 = cursor.fetchall()

map_transaction = pd.DataFrame(table5,columns=("States","Years","Quarter","District",
                                               "Transaction_count","Transaction_amount"))

#map_user_df
cursor.execute("SELECT * FROM map_user")
mydb.commit()
table6 = cursor.fetchall()

map_user = pd.DataFrame(table6,columns=("States","Years","Quarter","District",
                                               "RegisteredUsers","AppOpens"))

#top_insurance_df
cursor.execute("SELECT * FROM top_insurance")
mydb.commit()
table7 = cursor.fetchall()

top_insurance = pd.DataFrame(table7,columns=("States","Years","Quarter","Pincodes",
                                               "Transaction_count","Transaction_amount"))

#top_transaction_df
cursor.execute("SELECT * FROM top_transaction")
mydb.commit()
table8 = cursor.fetchall()

top_transaction = pd.DataFrame(table8,columns=("States","Years","Quarter","Pincodes",
                                               "Transaction_count","Transaction_amount"))

#top_user_df
cursor.execute("SELECT * FROM top_user")
mydb.commit()
table9 = cursor.fetchall()

top_user = pd.DataFrame(table9,columns=("States","Years","Quarter","Pincodes",
                                               "RegisteredUsers"))

In [ ]:
#sql connection
def top_chart_transaction_amount(table_name):
    mydb = psycopg2.connect(host= "localhost",
                            user= "postgres",
                            port= "5432",
                            database = "phonepe_data",
                            password = "Planck00725"
                            )
    cursor = mydb.cursor()

    #plot_1
    query_1 = f'''SELECT states, SUM(transaction_amount) AS transaction_amount
                    FROM {table_name}
                    GROUP BY states
                    ORDER BY transaction_amount DESC
                    LIMIT 10;'''

    cursor.execute(query_1)
    table_1 = cursor.fetchall()
    mydb.commit()

    df_1 = pd.DataFrame(table_1, columns = ("states", "transaction_amount"))

    fig_amount = px.bar(df_1, hover_name= "states",
                        x="states", y="transaction_amount", 
                        title="TRANSACTION AMOUNT",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, 
                        )
    fig_amount.update_layout(height=650, width = 600, xaxis_tickangle=45)
    fig_amount.show()

    #plot_2
    query_2 = f'''SELECT states, SUM(transaction_amount) AS transaction_amount
                    FROM {table_name}
                    GROUP BY states
                    ORDER BY transaction_amount DESC
                    LIMIT 10;'''

    cursor.execute(query_2)
    table_2 = cursor.fetchall()
    mydb.commit()

    df_2 = pd.DataFrame(table_2, columns = ("states", "transaction_amount"))

    fig_amount_2 = px.bar(df_2, hover_name= "states",
                        x="states", y="transaction_amount", 
                        title="TRANSACTION AMOUNT",
                        color_discrete_sequence=px.colors.sequential.Agsunset_r, 
                        )
    fig_amount_2.update_layout(height=650, width = 600, xaxis_tickangle=90)
    fig_amount_2.show()

    #plot_3
    query_3 = f'''SELECT states, AVG(transaction_amount) AS transaction_amount
                    FROM {table_name}
                    GROUP BY states
                    ORDER BY transaction_amount;
                    '''

    cursor.execute(query_3)
    table_3 = cursor.fetchall()
    mydb.commit()

    df_3 = pd.DataFrame(table_3, columns = ("states", "transaction_amount"))

    fig_amount_3 = px.bar(df_3, hover_name= "states",
                        y="states", x="transaction_amount", orientation= 'h', 
                        title="TRANSACTION AMOUNT",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, 
                        )
    fig_amount_3.update_layout(height=650, width = 600, xaxis_tickangle=90)
    fig_amount_3.show()

In [ ]:
#sql connection
def top_chart_transaction_count(table_name):
    mydb = psycopg2.connect(host= "localhost",
                            user= "postgres",
                            port= "5432",
                            database = "phonepe_data",
                            password = "Planck00725"
                            )
    cursor = mydb.cursor()

    #plot_1
    query_1 = f'''SELECT states, SUM(transaction_count) AS transaction_count
                    FROM {table_name}
                    GROUP BY states
                    ORDER BY transaction_count DESC
                    LIMIT 10;'''

    cursor.execute(query_1)
    table_1 = cursor.fetchall()
    mydb.commit()

    df_1 = pd.DataFrame(table_1, columns = ("states", "transaction_count"))

    fig_amount = px.bar(df_1, hover_name= "states",
                        x="states", y="transaction_count", 
                        title="TRANSACTION COUNT",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, 
                        )
    fig_amount.update_layout(height=650, width = 600, xaxis_tickangle=45)
    fig_amount.show()

    #plot_2
    query_2 = f'''SELECT states, SUM(transaction_count) AS transaction_count
                    FROM {table_name}
                    GROUP BY states
                    ORDER BY transaction_count DESC
                    LIMIT 10;'''

    cursor.execute(query_2)
    table_2 = cursor.fetchall()
    mydb.commit()

    df_2 = pd.DataFrame(table_2, columns = ("states", "transaction_count"))

    fig_amount_2 = px.bar(df_2, hover_name= "states",
                        x="states", y="transaction_count", 
                        title="TRANSACTION COUNT",
                        color_discrete_sequence=px.colors.sequential.Agsunset_r, 
                        )
    fig_amount_2.update_layout(height=650, width = 600, xaxis_tickangle=90)
    fig_amount_2.show()

    #plot_3
    query_3 = f'''SELECT states, AVG(transaction_count) AS transaction_count
                    FROM {table_name}
                    GROUP BY states
                    ORDER BY transaction_count;'''

    cursor.execute(query_3)
    table_3 = cursor.fetchall()
    mydb.commit()

    df_3 = pd.DataFrame(table_3, columns = ("states", "transaction_count"))

    fig_amount_3 = px.bar(df_3, hover_name= "states",
                        y="states", x="transaction_count", orientation= 'h', 
                        title="TRANSACTION COUNT",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, 
                        )
    fig_amount_3.update_layout(height=650, width = 600, xaxis_tickangle=90)
    fig_amount_3.show()

In [ ]:
# Fix: Use correct column names as per your database schema (likely lowercase)
def top_chart_registered_user(table_name, state):
	mydb = psycopg2.connect(host= "localhost",
							user= "postgres",
							port= "5432",
							database = "phonepe_data",
							password = "Planck00725"
							)
	cursor = mydb.cursor()

	# Use lowercase column names as per PostgreSQL conventions
	query_1 = f'''SELECT districts, SUM("registeredusers") AS registeredusers
					FROM {table_name}
					WHERE states= '{state}'
					GROUP BY districts
					ORDER BY registeredusers DESC
					LIMIT 10;'''

	cursor.execute(query_1)
	table_1 = cursor.fetchall()
	mydb.commit()

	df_1 = pd.DataFrame(table_1, columns = ("districts", "registeredusers"))

	fig_amount = px.bar(df_1, hover_name= "districts",
						x="districts", y="registeredusers", 
						title="TOP 10 OF REGISTERED USER",
						color_discrete_sequence=px.colors.sequential.Aggrnyl, 
						)
	fig_amount.update_layout(height=650, width = 600, xaxis_tickangle=45)
	fig_amount.show()

	#plot_2
	query_2 = f'''SELECT districts, SUM("registeredusers") AS registeredusers
					FROM {table_name}
					WHERE states= '{state}'
					GROUP BY districts
					ORDER BY registeredusers ASC
					LIMIT 10;'''

	cursor.execute(query_2)
	table_2 = cursor.fetchall()
	mydb.commit()

	df_2 = pd.DataFrame(table_2, columns = ("districts", "registeredusers"))

	fig_amount_2 = px.bar(df_2, hover_name= "districts",
						x="districts", y="registeredusers", 
						title="BOTTOM 10 REGISTERED USER",
						color_discrete_sequence=px.colors.sequential.Agsunset_r, 
						)
	fig_amount_2.update_layout(height=650, width = 600, xaxis_tickangle=90)
	fig_amount_2.show()

	#plot_3
	query_3 = f'''SELECT districts, AVG("registeredusers") AS registeredusers
					FROM {table_name}
					WHERE states= '{state}'
					GROUP BY districts
					ORDER BY registeredusers DESC
					LIMIT 10;
					'''

	cursor.execute(query_3)
	table_3 = cursor.fetchall()
	mydb.commit()

	df_3 = pd.DataFrame(table_3, columns = ("districts", "registeredusers"))

	fig_amount_3 = px.bar(df_3, hover_name= "districts",
						y="districts", x="registeredusers", orientation= 'h', 
						title="AVERAGE OF REGISTERED USERS",
						color_discrete_sequence=px.colors.sequential.Bluered_r, 
						)
	fig_amount_3.update_layout(height=650, width = 600, xaxis_tickangle=90)
	fig_amount_3.show()

In [ ]:
# Fix: Use correct column names as per your database schema (likely lowercase)
def top_chart_appopens(table_name, state):
	mydb = psycopg2.connect(host= "localhost",
							user= "postgres",
							port= "5432",
							database = "phonepe_data",
							password = "Planck00725"
							)
	cursor = mydb.cursor()

	# Use lowercase column names as per PostgreSQL conventions
	query_1 = f'''SELECT districts, SUM("appopens") AS appopens
					FROM {table_name}
					WHERE states= '{state}'
					GROUP BY districts
					ORDER BY appopens DESC
					LIMIT 10;'''

	cursor.execute(query_1)
	table_1 = cursor.fetchall()
	mydb.commit()

	df_1 = pd.DataFrame(table_1, columns = ("districts", "appopens"))

	fig_amount = px.bar(df_1, hover_name= "districts",
						x="districts", y="appopens", 
						title="TOP 10 OF APP OPENS",
						color_discrete_sequence=px.colors.sequential.Aggrnyl, 
						)
	fig_amount.update_layout(height=650, width = 600, xaxis_tickangle=45)
	fig_amount.show()

	#plot_2
	query_2 = f'''SELECT districts, SUM("appopens") AS appopens
					FROM {table_name}
					WHERE states= '{state}'
					GROUP BY districts
					ORDER BY appopens ASC
					LIMIT 10;'''

	cursor.execute(query_2)
	table_2 = cursor.fetchall()
	mydb.commit()

	df_2 = pd.DataFrame(table_2, columns = ("districts", "appopens"))

	fig_amount_2 = px.bar(df_2, hover_name= "districts",
						x="districts", y="appopens", 
						title="BOTTOM 10 APP OPENS",
						color_discrete_sequence=px.colors.sequential.Agsunset_r, 
						)
	fig_amount_2.update_layout(height=650, width = 600, xaxis_tickangle=90)
	fig_amount_2.show()

	#plot_3
	query_3 = f'''SELECT districts, AVG("appopens") AS appopens
					FROM {table_name}
					WHERE states= '{state}'
					GROUP BY districts
					ORDER BY appopens DESC
					'''

	cursor.execute(query_3)
	table_3 = cursor.fetchall()
	mydb.commit()

	df_3 = pd.DataFrame(table_3, columns = ("districts", "appopens"))

	fig_amount_3 = px.bar(df_3, hover_name= "districts",
						y="districts", x="appopens", orientation= 'h', 
						title="AVERAGE OF APP OPENS",
						color_discrete_sequence=px.colors.sequential.Bluered_r, 
						)
	fig_amount_3.update_layout(height=650, width = 600, xaxis_tickangle=90)
	fig_amount_3.show()

In [ ]:
# Fix: Use correct column names as per your database schema (likely lowercase)
def top_chart_registered_users(table_name):
	mydb = psycopg2.connect(host= "localhost",
							user= "postgres",
							port= "5432",
							database = "phonepe_data",
							password = "Planck00725"
							)
	cursor = mydb.cursor()

	# Use lowercase column names as per PostgreSQL conventions
	query_1 = f'''SELECT states, SUM("registeredusers") AS registeredusers
					FROM {table_name}
					GROUP BY states
					ORDER BY registeredusers DESC
					LIMIT 10;'''

	cursor.execute(query_1)
	table_1 = cursor.fetchall()
	mydb.commit()

	df_1 = pd.DataFrame(table_1, columns = ("states", "registeredusers"))

	fig_amount = px.bar(df_1, hover_name= "states",
						x="states", y="registeredusers", 
						title="TOP 10 OF REGISTERED USERS",
						color_discrete_sequence=px.colors.sequential.Aggrnyl, 
						)
	fig_amount.update_layout(height=650, width = 600, xaxis_tickangle=45)
	fig_amount.show()

	#plot_2
	query_2 = f'''SELECT states, SUM("registeredusers") AS registeredusers
					FROM {table_name}
					GROUP BY states
					ORDER BY registeredusers ASC
					LIMIT 10;'''

	cursor.execute(query_2)
	table_2 = cursor.fetchall()
	mydb.commit()

	df_2 = pd.DataFrame(table_2, columns = ("states", "registeredusers"))

	fig_amount_2 = px.bar(df_2, hover_name= "states",
						x="states", y="registeredusers", 
						title="BOTTOM 10 REGISTERED USERS",
						color_discrete_sequence=px.colors.sequential.Agsunset_r, 
						)
	fig_amount_2.update_layout(height=650, width = 600, xaxis_tickangle=90)
	fig_amount_2.show()

	#plot_3
	query_3 = f'''SELECT states, AVG("registeredusers") AS registeredusers
					FROM {table_name}
					GROUP BY states
					ORDER BY registeredusers DESC
					'''

	cursor.execute(query_3)
	table_3 = cursor.fetchall()
	mydb.commit()

	df_3 = pd.DataFrame(table_3, columns = ("states", "registeredusers"))

	fig_amount_3 = px.bar(df_3, hover_name= "states",
						y="states", x="registeredusers", orientation= 'h', 
						title="AVERAGE OF REGISTERED USERS",
						color_discrete_sequence=px.colors.sequential.Bluered_r, 
						)
	fig_amount_3.update_layout(height=650, width = 600, xaxis_tickangle=90)
	fig_amount_3.show()

In [ ]:
top_chart_registered_users("top_user")

In [ ]:
top_chart_appopens("map_user", "Tamil Nadu")

In [ ]:
top_chart_registered_user("map_user","Tamil Nadu")

In [ ]:
top_chart_transaction_count("aggregated_insurance")

In [ ]:
top_chart_transaction_amount("aggregated_insurance")

In [ ]:
# Transaction_Year_Based 
import json
def Transaction_amount_count_Y(df, year):
    tacy = df[df["Years"] == year]
    tacyg = tacy.groupby("States")[["Transaction_count", "Transaction_amount"]].sum().reset_index()
    
    fig_amount = px.bar(tacyg.sort_values("Transaction_amount", ascending=False), 
                       x="States", y="Transaction_amount", 
                       title=f"{year} TRANSACTION AMOUNT",
                       color_discrete_sequence=px.colors.sequential.Aggrnyl, 
                        )
    fig_amount.update_layout(height=650, width = 600, xaxis_tickangle=45)
    fig_amount.show()
    
    fig_count = px.bar(tacyg.sort_values("Transaction_count", ascending=False), 
                      x="States", y="Transaction_count", 
                      title=f"{year} TRANSACTION COUNT",
                      color_discrete_sequence=px.colors.sequential.Bluered_r)
    fig_count.update_layout(height=650, width = 600, xaxis_tickangle=45)
    fig_count.show()

    

    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    response
    data1 = json.loads(response.text)
    states_name = []
    data1
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])

    states_name.sort()

    fig_india_1 = px.choropleth(tacyg, geojson=data1, locations="States", featureidkey= "properties.ST_NM",
                                color = "Transaction_amount",color_continuous_scale = "ylgnbu",
                                range_color= (tacyg["Transaction_amount"].min(), tacyg["Transaction_amount"].max()),
                                hover_name= "States", title= f"{year} TRANSACTION AMOUNT", fitbounds= "locations",
                                height=600, width = 600)
    fig_india_1.update_geos(visible = False)
    fig_india_1.show()

    fig_india_2 = px.choropleth(tacyg, geojson=data1, locations="States", featureidkey= "properties.ST_NM",
                                color = "Transaction_count",color_continuous_scale = "ylgnbu",
                                range_color= (tacyg["Transaction_count"].min(), tacyg["Transaction_count"].max()),
                                hover_name= "States", title= f"{year} TRANSACTION COUNT", fitbounds= "locations",
                                height=600, width = 600)
    fig_india_2.update_geos(visible = False)
    fig_india_2.show()

    return tacy

In [ ]:
# Transaction_Quarter_Based 
import json
def Transaction_amount_count_Y_Q(df, quarter):
    tacy = df[df["Quarter"] == quarter]
    tacy.reset_index(drop = True, inplace = True)

    tacyg = tacy.groupby("States")[["Transaction_count", "Transaction_amount"]].sum().reset_index()
    tacyg.reset_index(inplace = True)

    fig_amount = px.bar(tacyg.sort_values("Transaction_amount", ascending=False), 
                       x="States", y="Transaction_amount", 
                       title=f"{tacy["Years"].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT",
                       color_discrete_sequence=px.colors.sequential.Aggrnyl, 
                        )
    fig_amount.update_layout(height=650, width = 600, xaxis_tickangle=45)
    fig_amount.show()
    
    fig_count = px.bar(tacyg.sort_values("Transaction_count", ascending=False), 
                      x="States", y="Transaction_count", 
                      title=f"{tacy["Years"].min()} YEAR {quarter} QUARTER TRANSACTION COUNT",
                      color_discrete_sequence=px.colors.sequential.Bluered_r)
    fig_count.update_layout(height=650, width = 600, xaxis_tickangle=45)
    fig_count.show()

    

    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    response
    data1 = json.loads(response.text)
    states_name = []
    data1
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])

    states_name.sort()

    fig_india_1 = px.choropleth(tacyg, geojson=data1, locations="States", featureidkey= "properties.ST_NM",
                                color = "Transaction_amount",color_continuous_scale = "ylgnbu",
                                range_color= (tacyg["Transaction_amount"].min(), tacyg["Transaction_amount"].max()),
                                hover_name= "States", title= f"{tacy["Years"].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT", fitbounds= "locations",
                                height=600, width = 600)
    fig_india_1.update_geos(visible = False)
    fig_india_1.show()

    fig_india_2 = px.choropleth(tacyg, geojson=data1, locations="States", featureidkey= "properties.ST_NM",
                                color = "Transaction_count",color_continuous_scale = "ylgnbu",
                                range_color= (tacyg["Transaction_count"].min(), tacyg["Transaction_count"].max()),
                                hover_name= "States", title= f"{tacy["Years"].min()} YEAR {quarter} QUARTER TRANSACTION COUNT", fitbounds= "locations",
                                height=600, width = 600)
    fig_india_2.update_geos(visible = False)
    fig_india_2.show()

    return tacy

In [ ]:
# Transaction type
def Aggre_Tran_Transaction_Type(df, state):

    tacy = df[df["States"] == state]
    tacy.reset_index(drop = True, inplace = True)

    tacyg = tacy.groupby("Transaction_type")[["Transaction_count", "Transaction_amount"]].sum()
    tacyg.reset_index(inplace = True)

    fig_pie_1 = px.pie(data_frame= tacyg, names= "Transaction_type", values = "Transaction_amount",
                    width = 600, title= f"{state.upper()} TRANSACTION AMOUNT", hole = 0.5)
    fig_pie_1.show()

    fig_pie_2 = px.pie(data_frame= tacyg, names= "Transaction_type", values = "Transaction_count",
                    width = 600, title= f"{state.upper()} TRANSACTION COUNT", hole = 0.5)
    fig_pie_2.show()

In [ ]:
#Aggre_user_analysis_1
def Aggre_user_plot_1(df, year):
    aguy = df[df["Years"] == year]
    aguy.reset_index(drop = True, inplace= True)

    aguyg = pd.DataFrame(aguy.groupby("Brands")["Transaction_count"].sum())
    aguyg.reset_index(inplace= True)

    fig_bar_1 = px.bar(aguyg, x = "Brands", y= "Transaction_count", title = f"{year} BRANDS AND TRANSACTION COUNT",
                    width = 800, color_discrete_sequence= px.colors.sequential.haline_r)
    fig_bar_1.show()

    return aguy

In [ ]:
# Aggre_user_Analysis_2
def Aggre_user_plot_2(df, quarter):
    aguyq = df[df["Quarter"] == quarter]
    aguyq.reset_index(drop = True, inplace= True)

    aguyq = pd.DataFrame(aguyq.groupby("Brands")["Transaction_count"].sum())
    aguyq.reset_index(inplace= True)

    fig_bar_2 = px.bar(aguyq, x = "Brands", y= "Transaction_count", title = f"{quarter} QUARTER, BRANDS AND TRANSACTION COUNT",
                        width = 800, color_discrete_sequence= px.colors.sequential.haline_r , hover_name= "Brands")
    fig_bar_2.show()

    return aguyq

In [ ]:
# #Aggre_user_analysis_3
# def Aggre_user_plot_3(df, state):
#     auyqs = df[df["States"] == state]
#     auyqs.reset_index(drop = True, inplace= True)

#     fig_line_2 = px.line(auyqs, x = "Brands", y= "Transaction_count", title = f"{state} BRANDS TRANSACTION COUNT, PERCENTAGE",
#                         width = 1000, hover_name= "Percentage", markers = True)
#     fig_line_2.show()

In [ ]:
# Map_Insurance_District
def Map_insur_District(df, state):

    tacy = df[df["States"] == state]
    tacy.reset_index(drop = True, inplace = True)

    tacyg = tacy.groupby("District")[["Transaction_count", "Transaction_amount"]].sum()
    tacyg.reset_index(inplace = True)

    fig_bar_1 = px.bar(tacyg, x= "Transaction_amount", y= "District", orientation= 'h',
                       title= f"{state.upper()} DISTRICT AND TRANSACTION AMOUNT", color_discrete_sequence= px.colors.sequential.Mint_r)
    fig_bar_1.show()

    fig_bar_2 = px.bar(tacyg, x= "Transaction_count", y= "District", orientation= 'h',
                       title= f"{state.upper()} DISTRICT AND TRANSACTION COUNT", color_discrete_sequence= px.colors.sequential.Agsunset)
    fig_bar_2.show()

In [ ]:
#map_user_analysis_1
def map_user_plot_1(df, year):
    muy = df[df["Years"] == 2020]
    muy.reset_index(drop = True, inplace= True)

    muyg = pd.DataFrame(muy.groupby("States")[["RegisteredUsers","AppOpens"]].sum())
    muyg.reset_index(inplace= True)

    fig_line_1= px.line(muyg, x = "States", y= ["RegisteredUsers", "AppOpens"], title =f"{year} REGISTEREDUSERS APPOPENS",
                        height= 800 ,width = 1000, markers = True)
    fig_line_1.show()

    return muy

In [ ]:
#map_user_analysis_2
def map_user_plot_2(df, quarter):
    muyq = df[df["Quarter"] == quarter]
    muyq.reset_index(drop = True, inplace= True)

    muyqg = pd.DataFrame(muyq.groupby("States")[["RegisteredUsers","AppOpens"]].sum())
    muyqg.reset_index(inplace= True)

    fig_line_1= px.line(muyqg, x = "States", y= ["RegisteredUsers", "AppOpens"], 
                        title =f"{df["Years"].min()} YEAR {quarter} QUARTER REGISTEREDUSERS APPOPENS",
                        height= 800 ,width = 1000, markers = True, color_discrete_sequence= px.colors.sequential.Rainbow_r)
    fig_line_1.show()

    return muyq

In [ ]:
#map_user_plot_3
def map_user_plot_3(df, states):
    muyqs = df[df["States"] == states]
    muyqs.reset_index(drop = True, inplace= True)

    fig_map_user_bar_1 = px.bar(muyqs, x= "RegisteredUsers", y="District", orientation= 'h',
                                title= "REGISTERED USER",color_discrete_sequence= px.colors.sequential.Rainbow_r)
    fig_map_user_bar_1.show()

    fig_map_user_bar_2 = px.bar(muyqs, x= "AppOpens", y="District", orientation= 'h',
                                title= "APPOPENS", color_discrete_sequence= px.colors.sequential.Rainbow_r)
    fig_map_user_bar_2.show()

    return muyqs

In [ ]:
# top_insur_analysis
def Top_insurance_plot_1(df, state):
    tiy = df[df["States"] == state]
    tiy.reset_index(drop = True, inplace= True)

    tiyg = tiy.groupby("Pincodes")[["Transaction_count","Transaction_amount"]].sum()
    tiyg.reset_index(inplace= True)

    fig_top_insur_bar_1 = px.bar(tiy, x= "Quarter", y="Transaction_amount", orientation= 'h',
                                hover_data= "Pincodes", title= "TRANSACTION AMOUNT",color_discrete_sequence= px.colors.sequential.Rainbow_r)
    fig_top_insur_bar_1.show()

    fig_top_insur_bar_2 = px.bar(tiy, x= "Quarter", y="Transaction_amount", orientation= 'h',
                                hover_data= "Pincodes", title= "TRANSACTION COUNT",color_discrete_sequence= px.colors.sequential.Agsunset_r)
    fig_top_insur_bar_2.show()

    return tiy

In [ ]:
#top_user_analysis
def top_user_plot_1(df, year):
    tuy = df[df["Years"] == year]
    tuy.reset_index(drop = True, inplace= True)

    tuyg = pd.DataFrame(tuy.groupby(["States","Quarter"])["RegisteredUsers"].sum())
    tuyg.reset_index(inplace= True)

    fig_top_plot_1 =  px.bar(tuyg, x= "States", y="RegisteredUsers", color= "Quarter",width= 1000, height= 800,
                                    hover_name= "States", color_discrete_sequence= px.colors.sequential.Burgyl,
                                    title=f"{year} REGISTERED USERS")
    fig_top_plot_1.show()

    return tuy

In [ ]:
#top_user_analysis_2
def top_user_plot_2(df, state):
    tuys = df[df["States"] == state]
    tuys.reset_index(drop = True, inplace= True)

    fig_top_plot_2 =  px.bar(tuys, x= "Quarter", y="RegisteredUsers", color= "RegisteredUsers",width= 1000, height= 800,
                                    hover_data= "Pincodes", color_continuous_scale= px.colors.sequential.Magenta,
                                    title="REGISTEREDUSERS, PINCODES, QUARTER")
    fig_top_plot_2.show()

### Aggregated_insurance

In [ ]:
tac_Y = Transaction_amount_count_Y(Aggre_insurance,2021)

In [ ]:
Transaction_amount_count_Y_Q(tac_Y, 2)

### Aggregated_Transaction

In [ ]:
Aggre_tran_tac_Y = Transaction_amount_count_Y(Aggre_transaction,2021)

In [ ]:
Aggre_Tran_Transaction_Type(Aggre_tran_tac_Y, 'Tamil Nadu')

In [ ]:
Aggre_tran_tac_Y_Q = Transaction_amount_count_Y_Q(Aggre_tran_tac_Y, 3)

In [ ]:
Aggre_Tran_Transaction_Type(Aggre_tran_tac_Y_Q, 'Tamil Nadu')

### Aggregated_User

In [ ]:
Aggre_user_Y = Aggre_user_plot_1(Aggre_user, 2020)

In [ ]:
Aggre_user_Y_Q = Aggre_user_plot_2(Aggre_user_Y, 3)

In [ ]:
# Aggre_user_plot_3(Aggre_user_Y_Q, "Andaman & Nicobar")

### Map_insurance

In [ ]:
Map_insur_tac_Y = Transaction_amount_count_Y(map_insurance,2021)

In [ ]:
Map_insur_District(Map_insur_tac_Y, 'West Bengal')

In [ ]:
Map_insur_tac_Y_Q = Transaction_amount_count_Y_Q(Map_insur_tac_Y, 3)

In [ ]:
Map_insur_District(Map_insur_tac_Y_Q, 'Tamil Nadu')

### Map_transaction

In [ ]:
Map_tran_tac_Y = Transaction_amount_count_Y(map_transaction,2023)

In [ ]:
Map_insur_District(Map_tran_tac_Y, 'West Bengal')

In [ ]:
Map_tran_tac_Y_Q = Transaction_amount_count_Y_Q(Map_tran_tac_Y, 3)

In [ ]:
Map_insur_District(Map_tran_tac_Y_Q, 'Tamil Nadu')

### Map_user

In [ ]:
Map_user_Y = map_user_plot_1(map_user, 2024)

In [ ]:
Map_user_Y_Q = map_user_plot_2(Map_user_Y, 3)

In [ ]:
Map_user_Y

### Top_insurance

In [ ]:
Top_insur_tac_Y = Transaction_amount_count_Y(top_insurance,2023)

In [ ]:
Top_insurance_plot_1(Top_insur_tac_Y, "West Bengal")

In [ ]:
top_insur_tac_Y_Q = Transaction_amount_count_Y_Q(Top_insur_tac_Y, 3)

### Top_transaction

In [ ]:
Top_tran_tac_Y = Transaction_amount_count_Y(top_transaction,2023)

In [ ]:
Top_insurance_plot_1(Top_tran_tac_Y, "West Bengal")

In [ ]:
top_tran_tac_Y_Q = Transaction_amount_count_Y_Q(Top_tran_tac_Y, 3)

### Top_user

In [ ]:
Top_user_Y = top_user_plot_1(top_user, 2021)

In [ ]:
top_user_plot_2(Top_user_Y, 'Andaman & Nicobar')

In [ ]:
Top_user_Y